[Unit]
Description=Likelion 14th Hackathon Spring Boot Application
After=network.target

[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu/likelion14th_hackathon
EnvironmentFile=/home/ubuntu/likelion14th_hackathon/.env
ExecStart=/usr/bin/java -jar /home/ubuntu/likelion14th_hackathon/build/libs/likelion14th_hackathon-0.0.1-SNAPSHOT.jar
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
